@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

input[type=number] { // Ajusta imput type number no Mozilla Firefox
    -moz-appearance: textfield;
}

.g-form-filtro-field {
    margin-bottom: 5px;
    width: 95%;
}

.g-checkbox-field{
    color: rgba(0,0,0,0.46);
    .g-checkbox-group {
        padding: 5px 5px 10px 15px;
    }
}