// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #ffa64d
$secondary = #737373
$tertiary  = #c7c7c7

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$sizes = {
  xs: 0px
  mxs: 293px
  msm: 439px
  sm: 575px
  mmd: 671px
  md: 767px
  mlg: 879px
  lg: 991px
  mxl: 1095px
  xl: 1199px
}

@import '~quasar-variables'
